---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Goto theme variables

// Fonts
$sans-font-family: "Open Sans",sans-serif;
$serif-font-family: "Roboto Slab",serif;
$mono-font-family: "Source Code Pro",monospace;

$post-font-family: $serif-font-family;
$title-font-family: $sans-font-family;
$code-font-family: $mono-font-family;

$base-font-family: $sans-font-family; 
$base-font-size:   20px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$serif-font-family: "Roboto Slab",serif;
$sans-font-family: "Open Sans",sans-serif;
$mono-font-family: "Source Code Pro",monospace;

$post-font-family: $serif-font-family;
$title-font-family: $sans-font-family;
$code-font-family: $mono-font-family;

$font-weight-heavy: 600;

$spacing-unit:     60px;
$pattern-font-size: 36px;
$pattern-line-ratio: 5/6;
$pattern-line-height: $pattern-font-size * $pattern-line-ratio;

$text-color:       #111;
$text-color-light: lighten($text-color, 40%);

$background-color: white;

$gray-color:       #828282;
$gray-color-light: lighten($gray-color, 40%);
$gray-color-dark:  darken($gray-color, 25%);

$theme-color-main: #306090;
$theme-color-lightish: lighten($theme-color-main, 10%);

$theme-color-alt: #603060;

$goto-color: $theme-color-main;
$goto-color-light: $background-color;

$code-background-color: lighten($goto-color, 55%);

$post-title-font-size: 48px;
$box-border-radius: 6px;

$icon-size: 48px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
