
.pattern-box {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 6 * $pattern-line-height;
}

footer > .pattern-box {
    height: 4 * $pattern-line-height;   
}

.pattern-fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    
    text-align: center;
    word-wrap: break-word;
    overflow: hidden;  // hide extra chars

    color: white;
    font-size: $pattern-font-size;
    font-family: $mono-font-family;
    
    // Make all the characters touch.
    letter-spacing: -4px;
    line-height: $pattern-line-height;
    
    background-color: $gray-color-light;
    max-height: 6 * $pattern-line-height;  // force to overflow at 6
}

footer * .pattern-fill {
    top: initial;
    max-height: 4 * $pattern-line-height;
}

.pattern-box-text {
    @extend .wrapper;
    
    position: relative;
    display: block;

    z-index: 1;
    flex: 1;
    
    min-height: $pattern-line-height * 2;
    font-family: $title-font-family;
    background-color: white;
    border-radius: 5px;
}

.site-title {
    font-size: 24px;

    &,
    &:visited {
        color: $gray-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 30px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $gray-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $gray-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $gray-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    min-height: 720px;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $gray-color;
}

.post-link {
    display: block;
    font-size: 24px;
    text-transform: uppercase;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
    border-left-style: solid;
    padding-left: 12px;
    border-right-style: solid;
}

.post-title {
    font-size: 42px;
    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-subtitle {
    color: $text-color-light;
    font-style: italic;
    font-size: 20px;
    margin-top: -10px;
}

.post-content {
    font-family: $post-font-family;
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
