
.goto-fill {
    position: relative;
}

// .goto-border {
//     position: relative;
// }

.goto-border {
    margin: 16px;
}

.box {
    position: relative;
    display: flex;
}

.box-center {
    @extend .box;
    align-items: center;
    justify-content: center;
}

.box-wrapper {
    @extend .box;
    justify-content: center;
    flex-wrap: wrap;
}

.box-title {
    @extend .box;
    min-height: 3 * $pattern-line-height;
    height: 9 * $pattern-line-height;
    max-height: 36vh;
}

.box-title-small {
    @extend .box-title;
    height: 4 * $pattern-line-height;
    justify-content: center;
}

.box-title-text {
    @extend .wrapper;
    
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 1;
    flex: 1;
    
    min-height: $pattern-line-height * 2;
    font-family: $title-font-family;
    background-color: $background-color;
    border-radius: $box-border-radius;
}

.box-footer-item {
    position: relative;
    display: flex;
    
    z-index: 1;
    flex: 1 0 0;

    padding-top: 6.4rem;
    margin: $pattern-line-height;
    font-family: $title-font-family;
}

.social-icon {
    width: 64px;
    height: 64px;

    > svg {
        width: 100%;
        height: 100%;
    }

    fill: $theme-color-main;

    &:hover {
        background-color: $theme-color-main;
        @extend %social-icon-hover;
    }
}

.social-icon-fg {
    color: $background-color;
    fill: $background-color;
}

.site-title {
    flex: 1;
    font-size: $pattern-font-size;
    letter-spacing: $base-font-size;
    font-weight: $font-weight-heavy;
    color: $gray-color-dark;
}

.site-nav {

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $gray-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $gray-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */


.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: $base-font-size * 1.5;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $gray-color;
}

.post-link {
    display: block;
    font-size: 24px;
    margin-top: inherit;
    margin-bottom: $spacing-unit / 2;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
    border-left-style: solid;
    padding-left: 12px;
    border-right-style: solid;
}

.post-title {
    font-family: $title-font-family;
    font-size: $post-title-font-size;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-teaser {
    font-size: $small-font-size;
    color: $gray-color;
    margin-top: -$spacing-unit / 2;
    font-style: italic;
}

.post-subtitle {
    color: $text-color-light;
    font-style: italic;
    font-size: 20px;
    margin-top: -10px;
}

.post-content {
    font-family: $post-font-family;
    margin-bottom: $spacing-unit;

    h2 {
        font-size: $post-title-font-size * (2/3);

        @include media-query($on-laptop) {
            font-size: $post-title-font-size * (15/24);
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    a {
        font-weight: bold;
    }
}
