---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <h2 class="post-subtitle">{% if page.subtitle %}{{page.subtitle}}{% endif %}</h2>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>
  <div data-rodeo></div>

  <!-- super sketchy emoji.rodeo -->
  <script type="text/javascript">
    var __rodeo_config = {
        'clientId': '3d2803f9b42cb9958b43b2ed61ee2fa1ba1b1e0c67b3c437e135b0d759872be5',
        'theme': 'slack'
    };

    var d = document.getElementsByTagName('head')[0],
    s = document.createElement('script');

    s.type = 'text/javascript';
    s.src = '//cdn.emoji.rodeo/dist.js';
    d.appendChild(s);
</script>

</div>
